@model FitnessCenterReservationSystem.ViewModels.AntrenorUzmanlikViewModel

<h4>
    @Model.AdSoyad
    <small class="text-muted">(@Model.Email)</small>
</h4>
<hr />

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="AntrenorId" />

    @foreach (var u in Model.TumUzmanliklar)
    {
        <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   name="SecilenUzmanlikler"
                   value="@u.Id"
                   @(u.Secili ? "checked" : "") />

            <label class="form-check-label">@u.Ad</label>
        </div>
    }

    <button type="submit" class="btn btn-success mt-3">
        Kaydet
    </button>

    <a asp-action="Index" class="btn btn-secondary mt-3">
        İptal
    </a>
</form>
