@model FitnessCenterReservationSystem.Models.Randevu
@{
    ViewData["Title"] = "Randevu Detayları";
}

<h1>Randevu Detayları</h1>

<table class="table table-bordered">
    <tr><th>Üye</th><td>@Model.Uye.UserName</td></tr>
    <tr><th>Antrenör</th><td>@Model.Antrenor.UserName</td></tr>
    <tr><th>Hizmet</th><td>@Model.Hizmet.Ad</td></tr>
    <tr><th>Salon</th><td>@Model.Salon.Ad</td></tr>
    <tr><th>Tarih</th><td>@Model.Tarih.ToString("dd.MM.yyyy")</td></tr>
    <tr><th>Saat</th><td>@Model.BaslangicSaati.ToString(@"hh\:mm") - @Model.BitisSaati.ToString(@"hh\:mm")</td></tr>
    <tr><th>Durum</th><td>@((RandevuDurum)Model.Durum)</td></tr>
</table>

<a asp-action="Index" class="btn btn-secondary">Geri</a>
